#signinbox1 {
padding-right: 30px;
padding-top: 25%;
padding-left: 30px;
padding-bottom: 35%;
}

#signin{
  text-align: center;
}

#outlined-basic{
  width: 200px;
  height: 70%;
}


.MuiTextField-root > label {
  color: #531414;

}

#signinbox2
{
  padding: 50px;
  padding-bottom: 135px;
}

#signuptext{
  text-align: center;
}

#signUpBox{
  margin: 30px;
  text-align:center;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
