/* Center the search elements vertically and horizontally */
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Date input style the textField and align to the right */
.date-input {
    margin-top: 20px;
    position:absolute;
    right: 95px;
    top: 55px;

}

/* Style the search button and align to the right */
.button {
  height: 55px;
  font-size: 20px;
  margin-top: 10px;
  align-self: flex-end;
}

/* Move the calendar container down */
.calendar-container {
    margin-top: 20px; /* Adjust the margin as needed */
    width: 80%; /* Adjust the width as needed */
    max-width: 800px; /* Set a maximum width for larger screens */
    height: 600px; /* Adjust the height as needed */
  }

/* Style for selected date in the calendar */
.fc-day.selected-date {
  background-color: rgb(128, 0, 13);
  color:yellow;
}

/* Style for the booking button */
.booking-button-container {
    align-self: flex-start;
    margin-left: 20px;

  }
  
  .booking-button {
    font-size: 24px;
    padding: 20px 40px;
  }

  .fc-toolbar-title {
    color: #F6D58D;
    font-family: Arial, sans-serif !important;
    font-size: 1000px;
    }

    .css-1ps6pg7-MuiPaper-root{
      font-size: 1000px;
    }

    .css-1ps6pg7-MuiPaper-root{
      color: red;
    }
    .css-1ps6pg7-MuiPaper-root{
      color: red !important;
    }