

.login-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #ab7af1;
    border-radius: 4px;
    background-color: #cfe2a1;
}

.login-input {
width: 100%;
margin-bottom: 10px;
}

.passowrd {
    width: 100%;
    margin-bottom: 10px;
    }

.login-button {
width: 100%;
background-color: #36608d;
color: #be7171;
border: none;
padding: 20px;
border-radius: 4px;
cursor: pointer;
margin-top: 10px;  /* Add margin-top to move the button down */
}
